.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.svg-icon-orange path,
.svg-icon-orange polygon,
.svg-icon-orange rect {
  fill: #fd6d03;
}

.svg-icon-orange circle {
  stroke: #fd6d03;
  stroke-width: 1;
}

.icon-margin-top {
  margin-top: 10px;
}

.svg-icon-blue path,
.svg-icon-blue polygon,
.svg-icon-blue rect {
  fill: #1976d2;
}

.svg-icon-blue circle {
  stroke: #1976d2;
  stroke-width: 1;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}